[data-theme="dark"] {
  background-color: #121212;
  color: white;
}

[data-theme="light"] {
  background-color: white;
  color: black;
}

.web{
    display: flex;
    flex: 1;
    align-items: center;
}

.web-option{
    font-size: 20px;
    margin-right: 16px;
    font-weight: 700;
}

.web-option a{
    text-decoration: none;
    color: var(--link-color);
    display: flex;
    align-items: center;
}

.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.web-option:last-child{
    margin-right: 0px;
}