:root {
  --background-color: #fff;
  --link-color: #000;
}

[data-theme="dark"] {
  --background-color: #565756;
  --link-color: #fff;
}

.mobile {
  background-color: var(--background-color);
  height: 50vh;
  width: 30vh;
  position: absolute;
  right: 0;
  top: -5px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.4);
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  cursor: pointer;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  height: 50%;
}

.mobile-option {
  font-size: 24px;
  margin: 12px 0;
}

.mobile-option a {
  text-decoration: none;
  color: var(--link-color);
  display: flex;
  align-items: center;
}

.option-icon {
  margin-right: 8px;
}
